<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project 1 Midterm</title>
    </head>

    <body>
        <h1>Adding</h1>
        <h2>Category</h2>
        <form action="/category" id="category-form" method="post">
            <label for="gender">Gender</label>
            <select id="gender" name="gender" form="category-form">
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
            <br>
            <label for="master-category">Master Category</label>
            <input type="text" name="master-category"></input>
            <br>
            <label for="sub-category">Sub Category</label>
            <input type="text" name="sub-category"></input>
            <br>
            <label for="article-style">Article Style</label>
            <input type="text" name="article-style"></input>
            <br>
            <input type="submit" name="submit" value="submit"></input>
        </form>

        {% include 'product.html' %}

        <h1>Search</h1>
        <h2>Product</h2>
        <form action="/search_product" id="search-product-form" method="post">
            <label for="name">Product Name</label>
            <input id="product-name" type="text" name="product-name"></input>
            <br>
            <input type="submit" name="submit" value="search"></input>
        </form>

        <h1>Updating</h1>
        <h2>User Name</h2>
        <form action="/update_username" id="update-username" method="post">
            <label for="name">Original Username</label>
            <input id="ori-name" type="text" name="ori-name"></input>
            <br>
            <label for="name">New Username</label>
            <input id="new-name", input type="text" name="new-name"></input>
            <br>
            <input type="submit" name="submit" value="update"></input>
        </form>

        <h1>Delete</h1>
        <h2>Outfit</h2>
        <form action="/delete_outfit" id="delete_outfit" method="post">
            <label for="name">Outfit ID</label>
            <input id="outfit-id" type="text" name="outfit-id"></input>
            <br>
            <input type="submit" name="submit" value="Delete"></input>
        </form>
        

        <h1>Advance Query1：Ranking of users who post the most blogs</h1>
        <form action="/list_adv1" id="list_adv1" method="post">
            <input type="submit" name="submit" value="List"></input>
        </form>

        <h1>Advance Query2：Show the name, email and blog of male users who buy tutu and users who mentioned Disney in their blog</h1>
        <form action="/list_adv2" id="list_adv2" method="post">
            <input type="submit" name="submit" value="List"></input>
        </form>


        {% if results %} 
        <h1>Results</h1>
            {% for i in results: %}
                <li>-: {{ i }}</li>
            {% endfor %}
        {% endif %}

    </body>
</html>