<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
        <h1>Login</h1>
        <h2>User Info</h2>
        <form action="/login" id="login_info" method="post">
            <label>Email</label>
            <input id="input_email" type="email" name="input_email"></input>
            <br>
            <label>Password</label>
            <input id="input_password" type="text" name="input_password"></input>
            <br>
            <input type="submit" name="submit" value="login"></input>
        </form>
        {% if login_success %}
            Login successful!
        {% endif %}
        {% if login_failed %}
            InValid UserId/Password!
        {% endif %}
</body>
</html>