{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="static/css/singlePage.css">
{% endblock %}


{% block content %}
    {% if exist_item %}
    <div class = container>
        {% for data in item_data %}
          <!-- Left Column / Headphones Image -->
            <div class="left-column">
                <img src="{{data[4]}}" id="itemImage" width="367px" height="500px">
            </div>
    
          <!-- Right Column -->
            <div class="right-column">
            <!-- Product Description -->
                <div class="product-description">
                    <h1>{{data[3]}}</h1>
                    <p>some lines</p>
                </div>  
            </div>
        {% endfor %}
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    
    {% endif %}
{% endblock %}