{% extends 'base.html' %}
{% block content %}
    {% if exist_item %}
    
    <div class = container>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body" >
                    <h2 class　= "text">Product Details</h2>
                    <hr>
                </div>
            </div>
        </div>
        {% for data in item_data %}
          <!-- Left Column / Headphones Image -->
            <div class="row mb-40">
                <div class="col-md-6 text-center mb-5 mb-lg-0">
                    <img src="{{data[4]}}" id="itemImage" width="367px" height="500px">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="content">
                        <h4 class="subheading">{{data[1]}}</h4>
                        <ul>
                            <li>Year: {{data[0]}}</li>
                            <li>Gender: {{data[2]}}</li>
                            <li>Base color: {{data[3]}}</li>
                        </ul>
                        <a href="" class="btn btn-outline-warning my-2 my-sm-0">Add to my favorite</a>
                        <hr>
                        <h5>Comment section</h5>
                        {% if (comment_data is defined) and comment_data.fetchone() is not none %}
                            <p>{{comment_data.fetchone()[0]}}</p>
                        {% else %}
                            <p>Be the first one to comment on this product!<p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    
    {% endif %}
{% endblock %}